<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" target="_blank">
            <img src="https://www.shutterstock.com/image-vector/greek-spartan-helmet-hoplite-vector-600nw-1243325260.jpg" width="50px" alt="">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#botonmenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="botonmenu">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Inicio</a>
                </li>
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Productos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorías
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/products/category/Accessories">Accessories</a></li>
                            <li><a class="dropdown-item" href="/products/category/Books">Books</a></li>
                            <li><a class="dropdown-item" href="/products/category/Clothing">Clothing</a></li>
                            <li><a class="dropdown-item" href="/products/category/Electronics">Electronics</a></li>
                            <li><a class="dropdown-item" href="/products/category/Furniture">Furniture</a></li>
                            <li><a class="dropdown-item" href="/products/category/Home Appliances">Home Appliances</a></li>
                            <li><a class="dropdown-item" href="/products/category/Stationery">Stationery</a></li>
                        </ul>
                    </li>
                {{/if}}
                {{!-- {{#if user.isAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                {{/if}}
                {{#if user.isSuperAdmin}}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarSuperadminDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Superadmin
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarSuperadminDropdownMenuLink">
                            <li><a class="dropdown-item" href="/admin/products">Administrar Productos</a></li>
                            <li><a class="dropdown-item" href="/admin/users">Administrar Usuarios</a></li>
                        </ul>
                    </li>
                {{/if}} --}}
            </ul>

            <hr class="d-md-none text-white-50">

            <ul class="navbar-nav flex-wrap">
                {{#if user}}
                    <li class="nav-item dropdown btn-outline-secondary">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{user.first_name}}
                            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                <span class="visually-hidden"></span>
                            </span>
                            <img src="{{user.profile_image}}" class="profile-image" style="width: 40px; height: 40px">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/profile">Ver Perfil</a></li>
                            <li><a class="dropdown-item" href="/profile/{{user._id}}">Editar Perfil</a></li>
                            <li><a class="dropdown-item" href="/carts/{{user.cart._id}}">Carrito</a></li>
                            <li><a class="dropdown-item" href="#"><del>Publicar un producto</del></a></li>
                            <li><a class="dropdown-item" href="#"><del>Editar un producto</del></a></li>
                            <li><a class="dropdown-item" href="#"><del>Eliminar un producto</del></a></li>
                            <li><a class="dropdown-item" href="#"><del>Favoritos</del></a></li>
                            <li><a class="dropdown-item" href="#"><del>Notificaciones</del></a></li>
                            <li><a class="dropdown-item" href="#"><del>Envianos un mensaje!</del></a></li>
                        </ul>
                    </li>
                    <a class="nav-link" href="/carts/{{user.cart._id}}"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #dba020;"></i></a>
                    <button class="btn" id="logoutButton"><i class="fa-solid fa-right-from-bracket fa-lg" style="color: #dba020;"></i></button>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">INICIAR SESIÓN</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>  
</nav>

<script src="/js/logOut.js"></script>
